## List

In [2]:
l = [1,2,3,4,5]

In [3]:
# Append a new number.
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [4]:
# Insert a number at a specific index
l.insert(1,8)
l

[1, 8, 2, 3, 4, 5, 6]

In [5]:
# Remove duplicates and print the final list
l1 = [1,1,2,2,3,3]
l2 = list(set(l1))
l2

[1, 2, 3]

## Tuple

In [7]:
# Define a tuple of 5 colors.
t = ('blue','black','red','green','brown')

In [9]:
# Try to add a new color to the tuple (observe and explain why it fails).
t[0] = 'white'

TypeError: 'tuple' object does not support item assignment

In [10]:
# tuple is immutable means we can not add new value once tuple is define

In [11]:
# Convert the tuple to a list, add the color, and convert it back to a tuple
t1 =list(t)
type(t1)

list

In [12]:
t1.append('white')
t1

['blue', 'black', 'red', 'green', 'brown', 'white']

In [13]:
t = tuple(t1)
type(t)

tuple

In [14]:
t

('blue', 'black', 'red', 'green', 'brown', 'white')

## Set

In [1]:
# Create two sets of random numbers.

In [6]:
s1 = {1,2,3,4}
s2 = {4,5,6}

In [3]:
# Find and print their union, intersection, and difference

In [7]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [8]:
s1.intersection(s2)

{4}

In [9]:
s1.difference(s2)

{1, 2, 3}

In [11]:
s2.difference(s1)

{5, 6}

In [12]:
# Remove one element from the first set and add a new element.

In [13]:
s1.remove(3)

In [14]:
s1

{1, 2, 4}

In [16]:
s1.add(5)

In [17]:
s1

{1, 2, 4, 5}

## Dictionary

In [19]:
# Define a dictionary for a library system with book titles as keys and available copies as values.

In [20]:
D = {"book1" : 3,
     "book2" : 6,
     "book3" : 4,
     "book4" : 2}
D

{'book1': 3, 'book2': 6, 'book3': 4, 'book4': 2}

In [21]:
# Update the count of a specific book after it is borrowed

In [22]:
D["book1"] = 2

In [23]:
D

{'book1': 2, 'book2': 6, 'book3': 4, 'book4': 2}

In [24]:
# Add a new book to the dictionary and print the updated dictionary.

In [25]:
D["book5"] = 1
D

{'book1': 2, 'book2': 6, 'book3': 4, 'book4': 2, 'book5': 1}