In [2]:
# Define variables to store a student's name, age, GPA, and list of subjects.

In [3]:
Name = "Vaishnavi"
age = 22
GPA = 9.05
Sub = ['math','sci','eng']

In [5]:
# Convert age from years to months and display the result.

In [6]:
age_in_year = 22
age_in_months = age_in_year * 12
print('age_in_months -', age_in_months)

age_in_months - 264

In [7]:
# Concatenate and print a sentence using all the defined variables.

In [13]:
age =str(age)
GPA =str(GPA)
Sub =str(Sub)
D = Name + ' is ' + age + ' Year old having ' + GPA + ' GPA in ' + Sub
print(D)

Vaishnavi is 22 Year old having 9.05 GPA in ['math', 'sci', 'eng']

In [14]:
# Convert a float to an integer, and explain what happens to the decimal part.

In [19]:
f = 3.14
f1 = int(f)
print(f1)

3

In [21]:
# When convert float into integer the decimal part get removed not rounded and only return value before decimal point.