## Write a program using a for loop to print numbers from 1 to 10.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Ask the user to enter a word and use a for loop to print each character in the word.

In [6]:
a = input("Word - ")
for i in a:
    print(i)

Word -  Hello

H
e
l
l
o

## Use a for loop to print numbers from 1 to 5 and then back down to 1.

In [12]:
for i in range(1,6):
    print(i)
for i in range(4,0,-1):
    print(i)

1
2
3
4
5
4
3
2
1

## Define a list of fruits (["apple", "banana", "cherry", "date"]) and use a for loop to print each fruit in the list.

In [17]:
f = ['apple', 'banana','cherry','date']
for i in f:
    print(i)

apple
banana
cherry
date

## Use a for loop to print all even numbers between 1 and 10

In [18]:
for i in range(1,11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

## Write a program that calculates the sum of numbers in a list ([1, 2, 3, 4, 5]) using a for loop.

In [21]:
l = [1,2,3,4,5]
for i in l:
    t = 0
    sum = i+t
    print(sum)

1
2
3
4
5

where it is going wrong ??????

## Use a for loop to print numbers in reverse from 5 to 1.

In [24]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1